body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-exchange {
    border-radius: 25px;
    background-color: #fafafa;
    display: flex;
    width: 100%;
    border: solid 2px #666666;
    align-items: center;
    justify-content: space-around;
    
}

.dai {
    display: flex;
    width: 355px;
    height: 335px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dollar {
    display: flex;
    width: 355px;
    height: 335px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.logo-dai{
    height: 200px;
    width: 200px;
}
.logo-dollar {   
    height: 200px;
    width: 200px;
}
.imagen {
    text-align: center;
    height: 200px;
    width: 250px;
}

.opciones {
    height: 110px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}
.opcionVenta {
    height: 110px;
    width: 145px;
    border: solid 2px #666666;
}
.opcionCompra{
    height: 110px;
    width: 145px;
    border: solid 2px #666666;
}

.boton-venta{
    background-color: #666666;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    height: 55px;
    width: 141px;

}
.boton-venta:hover{
    background-color: #f5ac37;
}
.boton-compra{
    background-color: #666666;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    height: 55px;
    width: 141px;

}
.boton-compra:hover{
    background-color: #f5ac37;
}
.precio {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eti-precio {
    font-size: xx-large;
}
